* {
  /* outline: 1px dotted black; */
  margin: 0px auto;
  padding: 0px;
}

.wrapper {
  width: 1115px;
  min-height: 600px;
  padding: 10px 30px 30px 30px;
  background-color: whitesmoke;
}

.App {
  text-align: center;
  background-color: lightgreen;
}

.info {
  width: 1260px;
  text-align: center;
  background-color: greenyellow;
  margin-bottom: 10px;
  border-collapse: collapse;
}

.searchBar {
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.componentSpace {
  margin-top: 20px;
  margin-left: 90px;
  margin-bottom: 20px;
}

th, td{
  padding: 0px 5px 0px 5px;
  border: 1px solid black;
}

.error-message {
  border: 1px solid red;
  background-color: #ffecec;
  padding: 5px;
  margin-top: 5px;
  display: inline-block;
}

.mapSize {
  margin-left: 50px;
  margin-bottom: 50px;
  position: absolute;
  width: 1200px;
  height: 600px;
}
